body {
    padding-top: 50px;
    font-size: Segoe UI;
    font-size: 15px;
    color: #777;
}

header {
    position: absolute;
    background-color: #ff6796;
    width: 100%;
    top: 0;
    padding-bottom: 45px;
}

.titulos {
    color: #444444 !important;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-style: italic;
    font-size: 60px;
}

.contenido {
    font-family: 'Open Sans', sans-serif;
    color: #444444 !important;
}

.titulos1 {
    color: #444444 !important;
    font-family: 'Lobster', cursive;
    font-style: italic;
}

.contenido1 {
    font-family: 'Open Sans', sans-serif;
    color: #444444 !important;
}

#slides {
    background-color: #ff6796;
    display: grid;
    padding-bottom: 5%;
}

.imagenes {
    background-color: rgb(253, 154, 186);
    width: 445px;
    height: 445px;
    border-radius: 100%;
    padding: 30px;
    margin-right: 5%;
}

.imagenes2 {
    background-color: rgb(253, 154, 186);
    width: 320px;
    height: 320px;
    border-radius: 100%;
    padding: 30px;
}

.btn-light {
    background-color: #4983ff;
}

#works {
    display: grid;
}